body{
    background-color: black;
    color: white;
}
.top{
    word-spacing: 10px;
    font-size: 12px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    left: 2%;
    top: 1%;
}
.screen{
    width: 98%;
    height: 25%;
    border-radius: 10px;
    background-color: #b4bcd8;
    position: absolute;
    top: 3.5%;
    left: 0.7;

}
.buttons-1{
    width: 55px;
    height: 35px;
    border-radius: 9px;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 0.5px;
    margin: 2px 0px; 
    background-color: rgb(70, 66, 66);
    color: white;
}
.word-1{
    color: yellow;
    font-size: 9px;
    position: relative;
}
.word-2{
    color: rgb(167, 87, 167);
    font-size: 0.6rem;
    
}
.box{
    border: 1px solid yellow;
    width: 6px;
    height: 6px;
    border-radius: 1px;
}

.button-11{
    color: black;
    background-color: rgb(219, 163, 8);
    position: absolute;
    left: 0.7%;
    top: 29%;
}

.button-12{
    background-color: rgb(124, 39, 124);
    position: absolute;
    left: 17.3%;
    top: 23.7%;
}

.button-13{
    position: absolute;
    top: 23.7%;
    left: 33.7%;
}

.button-14{
    position: absolute;
    top: 23.7%;
    left: 50.4%;
}
.button-15{
    font-weight: 550;
    position: absolute;
    left: 67%;
    top: 23.7%;
}

.button-16{
    font-style: italic;
    position: absolute;
    left: 83.5%;
    top: 23.7%;
}

.word-11{
    position: absolute;
    left: 2%;
    top: 34.8%;
}

.word-12{
    position: absolute;
    left: 10%;
    top: 34.7%;
}

.word-13{
    position: absolute;
    left: 18.3%;
    top: 29.4%;
}

.word-14{
    position: absolute;
    left: 31.3%;
    top: 29%;
}

.word-15{
    position: absolute;
    left: 74%;
    top: 29.4%;
}

.word-16{
    position: absolute;
    left: 84.5%;
    top: 29.4%;
}

.word-17{
    position: absolute;
    left: 96.5%;
    top: 29.4%;
}

.button-21{
    position: absolute;
    left: 0.7%;
    top: 36.5%;
}

.button-22{
    position: absolute;
    left: 17.3%;
    top: 31.2%;
}

.button-23{
    position: absolute;
    top: 31.2%;
    left: 33.7%;
}

.button-24{
    position: absolute;
    top: 31.2%;
    left: 50.4%;
}

.button-25{
    letter-spacing: 4.5px;
    position: absolute;
    left: 67%;
    top: 31.2%;
}

.button-26{
    position: absolute;
        left: 83.5%;
        top: 31.2%;
}

.word-21{
    position: absolute;
    left: 2%;
    top: 42.5%;
}

.word-22{
    position: absolute;
    left: 9.2%;
    top: 42.4%;
}

.word-23{
    position: absolute;
    left: 10%;
    top: 42.5%;
}

.word-24{
    position: absolute;
    left: 23.5%;
    top: 36.1%;
    font-size: x-small;
}

.word-25{
    position: absolute;
    left: 24.4%;
    top: 36.75%;
}

.word-26{
    position: absolute;
    left: 26%;
    top: 36.99%;
}

.word-27{
    position: absolute;
    left: 35.5%;
    top: 36.3%;
}

.word-28{
    position: absolute;
    left: 51%;
    top: 36.5%;
}

.word-29{
    position: absolute;
    left: 52.6%;
    top: 36.5%;
}

.word-210{
    position: absolute;
    left: 54.1%;
    top: 36.8%
}

.word-211{
    position: absolute;
    left: 68%;
    top: 36.5%;
}

.word-212{
    position: absolute;
    left: 84.8%;
    top: 36.5%;
}

.word-213{
    position: absolute;
    left: 86%;
    top: 36.2%;
}

.button-31{
    position: absolute;
    left: 0.7%;
    top: 44%;
}
.button-32{
    position: absolute;
    left: 38%;
    top: 23%;
    width: 12px;
    height: 8px;
    border: none;
    background-color: white;
}
.button-33{
    position: absolute;
    left: 34%;
    top: 50%;
    width: 15.3px;
    height: 1px;
    border: none;
    background-color: white;
}

.button-34{
    position: absolute;
    left: 38%;
    top: 58%;
    width: 12px;
    height: 8px;
    border: none;
    background-color: white;
}

.button-35{
    position: absolute;
    left: 17.3%;
    top: 38.5%;
}

.button-36{
    position: absolute;
    left: 33.7%;
    top: 30%;
}

.button-37{
    position: absolute;
    left: 45.2%;
    top: 35%;
    width: 12px;
    height: 13px;
    border: none;
    background-color: white;
}

.button-38{
    position: absolute;
    left: 33.7%;
    top: 38.5%;
}

.button-39{
    position: absolute;
    left: 50.4%;
    top: 38.5%;
}

.button-310{
    position: absolute;
    left: 57%;
    top: 21%;
    border-color: white;
}

.button-311{
    position: absolute;
    left: 67%;
    top: 38.5%;
}

.button-312{
    position: absolute;
    left: 83.5%;
    top: 38.5%;
}

.word-31{
    position: absolute;
    left: 2%;
    top: 50%;
}

.word-32{
    position: absolute;
    left: 10%;
    top: 50%;
    font-size: 8px;
}

.word-33{
    position: absolute;
    left: 18.5%;
    top: 44%;
}

.word-34{
    position: absolute;
    left: 31%;
    top: 44%;
    font-size: 8px;
}

.word-35{
    position: absolute;
    left: 35%;
    top: 44%;
}

.word-36{
    position: absolute;
    left: 47.5%;
    top: 43.4%;
}

.word-37{
    position: absolute;
    left: 51.7%;
    top: 43.6%;
}

.word-38{
    position: absolute;
    left: 64.5%;
    top: 43.9%;
    font-size: 8px;
}

.word-39{
    position: absolute;
    left: 68.3%;
    top: 43.6%;
}

.word-310{
    position: absolute;
    left: 80.8%;
    top: 43.9%;
    font-size: 8px;
}

.word-311{
    position: absolute;
    left: 84.8%;
    top: 43.6%;
}

.word-312{
    position: absolute;
    left: 97.3%;
    top: 43.9%;
    font-size: 8px
}

.button-41{
    position: absolute;
    left: 0.7%;
    top: 51.5%;
}

.button-42{
    position: absolute;
    left: 17.3%;
    top: 45.9%;
}

.button-43{
    position: absolute;
    top: 45.9%;
    left: 33.7%;
}

.button-44{
    position: absolute;
    top: 45.9%;
    left: 50.4%;
}

.button-45{
    position: absolute;
    left: 67%;
    top: 45.9%;
}

.button-46{
    position: absolute;
    left: 83.5%;
    top: 45.9%;
}

.word-41{
    position: absolute;
    left: 2%;
    top: 58%;
}

.word-42{
    position: absolute;
    left: 8%;
    top: 58%;
    font-size: 8px;
}

.word-43{
    position: absolute;
    left: 18.8%;
    top: 51.3%;
    font-style: italic;
}

.word-44{
    position: absolute;
    left: 29.7%;
    top: 51.2%;
    font-size: 8px;
}

.word-45{
    position: absolute;
    left: 35%;
    top: 51.3%;
}

.word-46{
    position: absolute;
    left: 44.6%;
    top: 50.8%;
    font-size: 8px;
}

.word-47{
    position: absolute;
    left: 52%;
    top: 51.3%;
}

.word-48{
    position: absolute;
    left: 64.5%;
    top: 51.3%;
    font-size: 8px;
}

.word-49{
    position: absolute;
    left: 68.3%;
    top: 51.08%;
}

.word-410{
    position: absolute;
    left: 80.8%;
    top: 51.3%;
    font-size: 8px;
}

.word-411{
    position: absolute;
    left: 84.8%;
    top: 51.3%;
}

.word-412{
    position: absolute;
    left: 97.3%;
    top: 51.1%;
    font-size: 8px;
}

.button-51{
    position: absolute;
    left: 0.7%;
    top: 59.4%
}

.button-52{
    position: absolute;
    left: 17.3%;
    top: 53%;
}

.button-53{
    position: absolute;
    top: 53%;
    left: 33.7%;
}

.button-54{
    position: absolute;
    top: 53%;
    left: 50.4%;
}

.button-55{
    position: absolute;
    left: 67%;
    top: 53%;
}

.button-56{
    position: absolute;
    left: 83.5%;
    top: 53%;
}

.word-3{
    font-size: 9px;
    color: yellow;
}

.word-4{
    font-size: 9px;
    color: purple;
}

.word-51{
    position: absolute;
    left: 5%;
    top: 66%;
}

.word-52{
    position: absolute;
    left: 27%;
    top: 58.5%;
}

.word-53{
    position: absolute;
    left: 41.5%;
    top: 58.5%;
}

.word-54{
    position: absolute;
    left: 57%;
    top: 58.5%;
}

.buttons-2{
    width: 65px;
    height: 40px;
    border-radius: 8px;
    font-size: 25px;
    font-weight: 100;
    background-color: rgb(14, 13, 13);
    color: white;
}

.buttons-3{
    color: black;
    background-color: rgb(253, 130, 29);
}

.button-61{
    position: absolute;
    left: 0.7%;
    top: 68%;
}

.button-62{
    position: absolute;
    left: 20.6%;
    top: 60.4%;
}

.button-63{
    position: absolute;
    left: 40.3%;
    top: 60.4%;
}

.button-64{
    position: absolute;
    left: 60.3%;
    top: 60.4%;
}

.button-65{
    position: absolute;
    left: 80.1%;
    top: 60.4%;
}

.word-61{
    position: absolute;
    left: 5%;
    top: 75%;
}

.word-62{
    position: absolute;
    left: 27%;
    top: 66.75%;
}

.word-63{
    position: absolute;
    left: 47.45%;
    top: 66.75%;
}

.word-64{
    position: absolute;
    left: 62%;
    top: 66.75%;
}

.word-65{
    position: absolute;
    left: 74.5%;
    top: 66.75%;
}

.word-66{
    position: absolute;
    left: 81.6%;
    top: 66.75%;
}

.word-67{
    position: absolute;
    left: 93.9%;
    top: 66.75%;
}

.button-71{
    position: absolute;
    left: 0.7%;
    top: 77%;
}

.button-72{
    position: absolute;
    left: 20.6%;
    top: 68.9%;
}

.button-73{
    position: absolute;
    left: 40.3%;
    top: 68.9%;
}

.button-74{
    position: absolute;
    left: 60.3%;
    top: 68.9%;
}

.button-75{
    position: absolute;
    left: 80.1%;
    top: 68.9%;
}

.word-71{
    position: absolute;
    left: 6%;
    top: 83.7%;
}

.word-72{
    position: absolute;
    left: 27%;
    top: 75.2%;
}

.word-73{
    position: absolute;
    left: 47.45%;
    top: 75.2%;
}

.word-74{
    position: absolute;
    left: 62%;
    top: 75.2%;
}

.word-75{
    position: absolute;
    left: 74.5%;
    top: 75.2%;
}

.word-76{
    position: absolute;
    left: 81.6%;
    top: 75.2%;
}

.word-77{
    position: absolute;
    left: 93.9%;
    top: 75.2%;
}

.button-81{
    position: absolute;
    left: 0.7%;
    top: 85.6%;
}

.button-82{
    position: absolute;
    left: 20.6%;
    top: 77.1%;
}

.button-83{
    position: absolute;
    left: 40.3%;
    top: 77.1%;
}

.button-84{
    position: absolute;
    left: 60.3%;
    top: 77.1%;
}

.button-85{
    position: absolute;
    left: 80.1%;
    top: 77.1%;
}

.word-81{
    position: absolute;
    left: 1.5%;
    top: 92.2%;
}

.word-82{
    position: absolute;
    left: 9.5%;
    top: 92.2%;
}

.word-83{
    position: absolute;
    left: 21.8%;
    top: 92.2%;
}

.word-84{
    position: absolute;
    left: 33.5%;
    top: 92.2%;
}

.word-85{
    position: absolute;
    left: 41.8%;
    top: 92.2%;
}

.word-86{
    position: absolute;
    left: 57.7%;
    top: 92.2%;
}

.word-87{
    position: absolute;
    left: 67%;
    top: 92.2%;
}

.word-88{
    position: absolute;
    left: 86.7%;
    top: 92.2%;
}

.button-91{
    position: absolute;
    left: 0.7%;
    top: 94%;
}

.button-92{
    position: absolute;
    left: 20.6%;
    top: 94%;
}

.button-93{
    position: absolute;
    left: 40.3%;
    top: 94%;
}

.button-94{
    position: absolute;
    left: 60.3%;
    top: 94%;
}

.button-95{
    position: absolute;
    left: 80.1%;
    top: 94%;
}


@media screen and (min-width: 367px) {
    
    
}